*{
    font-family: 'Montserrat', sans-serif;
}
.center{
    text-align: center;
}
.myNav{
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}
.navFont{
    font-size: 2rem;
    font-weight: bold;
}
.searchArea{
    background-color: rgb(247, 247, 247);
    font-weight: bold;
}
.fiveDay{
margin: .6em;
background-color: #086972;
color: white;
}
#img1,#img2,#img3,#img4,#img5,#imgCurrent{
    max-width: 50px;
}

#cityWeather{
    float: left;
}
#imgCurrent{
    display: inline;
    float: left;
}
#temp, #humidity{
    clear:both;
}
.low{
    display: inline;
    background-color:#21e6c1;
    padding: .2em;
}
.moderate{
    display: inline;
    background-color:#fff98c;
    padding: .2em;
}
.high{
    display: inline;
    background-color:#ee5a5a;
    padding: .2em;
}
.header{
    font-weight: bold;
}
.fiveDayDate{
    margin-top:.5em;
    font-size: 1.5em;
    margin-bottom: 0;
}

.hide{
    display: none;
}
